{% extends 'base.html' %}
{% load static %}
{% block title %} Blood Donation {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<section class="body p-4">
    <div class="container">
        <div class="row">
            <div >
                <img src="{% static 'pics1.jpg' %}" alt="banner"   style="width:1000px;height:500px;" >
            </div>
<!--            <div class="col-md-6"></div>-->
        </div>

    </div>

</section>
<section class="p-5">
    <div class="container-fluid">
        <h2 class="text-primary">A world leading technique which will save lives...</h2>
        <p class="text-dark">
            In response to the worldwide shortage of donor hearts for transplantation, a research team at Royal Papworth Hospital, supported by Royal Papworth Hospital Charity has developed a new technique that significantly increases the number of hearts available for transplantation.
<hr>
The research show that heart transplants from a new group of potential donors – known as DCD transplantation or ‘Non-Beating Heart Transplantation’ – could save hundreds of lives internationally as the heart transplant waiting list continues to grow. This innovative technique had enabled surgeons at Royal Papworth Hospital to utilise donor hearts which were previously considered too damaged to transplant.
        </p>
    </div>
</section>

<section class="p-5 " >
    <div class="container-fluid" style="background-color:	 #ffe6e6;">
        <h4> About us</h4>
        <div class="row p-3">
            <div class="col-md-3 col-sm-6">
                <p class="text-secondary">Royal Papworth Hospital NHS Foundation Trust
Royal Papworth Charity
Papworth
Thiruvanandhapuram<br>
Kerala</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="text-secondary">
                    Where to find us:<br>
The Charity can be found in the main atrium of the hospital.
<br>
Opening hours:
9am-5pm Monday to Friday
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="text-secondary">
                    Contact us:<br>

                <i class="bi bi-telephone-fill"></i>
                    9090909090<br>
                    <i class="bi bi-whatsapp"></i>
                    9090909090<br>
                    <i class="bi bi-envelope-fill"></i>
                    bloodbankkerala3@gmail.com<br>
                    <i class="bi bi-facebook"></i>
                    BloodBank_Kerala<br>
                 <i class="bi bi-instagram"></i>
                    BloodBank_Kerala
                </p>
            </div>
            <div class="col-md-3 col-sm-6"></div>
        </div>
    </div>
</section>
{% endblock %}